

    <%- include('./partials/_header.ejs') %> 
    <%- include('./partials/_navbar.ejs') %> 

   <div class="container">
    <h1>Welcome to Home</h1>
   </div>



    <%- include('./partials/_footer.ejs') %> 
      
